<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp3.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-CSA0P33\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp3.Properties.Settings.FruitsVegConnectionString"
            connectionString="Data Source=DESKTOP-CSA0P33\SQLEXPRESS;Initial Catalog=FruitsVeg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>